/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100 dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-weight, 400);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--background-gradient-color-1) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--background-gradient-color-1) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--background-gradient-color-2), var(--background-gradient-color-3));
  background-size: cover;
  background-attachment: fixed;
}
