/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-weight, 400);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--background-gradient-color-1) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--background-gradient-color-1) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--background-gradient-color-2), var(--background-gradient-color-3));
  background-size: cover;
  background-attachment: fixed;

}

.section-width {
  max-width: 696px;
}

@media (width <= 375px) {
  .section-width {
    max-block-size: 100%;
  }
}

.header {
  padding: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--background-color, #fff);
  margin: 0 auto;
}

.header__logo {
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  color: var(--accent-color, #000);
  font-family: var(--accent-font, monospace);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__heading {
  text-transform: uppercase;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, monospace);
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--accent-color, #000);
  left: 0;
  bottom: -3px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:focus {
  outline: none;
}
